<% include partials/header %>
<h1>Write Note</h1>
<% if(errors) {%>
    <ul><%errors.forEach(function(error){%>
        <li><%= error.msg %></li>
        <% })%></ul>
<%}%>
<form method='POST' action='/note/add'>
    <label>Date</label><br>
    <input type = 'text' name = 'date'>
    <br>
    <label>Where</label><br>
    <input type = 'text' name = 'where'>
    <br>
    <label>What</label><br>
    <input type = 'text' name = 'what'>
    <br><br>
    <input type = 'submit' value = 'Submit'>
</form>
<h1><%= title %></h1>
<ul><%notes.forEach(function(note){%>
    <li><%= note.date %><br>
        <%= note.where %><br>
        <%= note.what %> - <a href='#'
        class="deleteNote"
        data-id="<%= note._id %>">Delete</a><br>
    </li>
<% })%></ul>
<% include partials/footer %>
